@model IEnumerable<MVCMiniAgenda.Models.Usuarios>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tus Contactos</title>
</head>
<body>
    <h2>Lista de contactos</h2>
    
    <div class="wrap-contactos">
        <div class="contantos">
            <ul>
                @foreach(var contactos in Model)
                {
                    <li>@Html.ActionLink(contactos.Nombre + " " + contactos.Apellido, "detalles", new { id = contactos.Id})</li>
                    
                }
            </ul>
        </div>
    </div>

</body>
</html>
